*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #1f1e1f;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 10px;
  font-family: 'Gloria Hallelujah', cursive;
}

.todo {
  display: flex;
  width: 50%;
  margin: auto;
  position: relative;
  align-items: center;
}

.todo-name {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 20px;
  border: none;
  transition: .5s ease;
  box-shadow: inset 0 0 5px black;
}

.todo .todo-name:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, .5);
}

.todo button {
  position: absolute;
  border-radius: 50%;
  right: 0;
  margin: 12px;
  font-size: 30px;
  border: none;
  background-color: #258765;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: .5s ease;
  font-weight: 600;
  box-shadow: 0 0 10px black;
}

.todo button:hover {
  background-color: #55b1a5;
}

.todo button:active {
  transform: scale(.8);
  box-shadow: 0 0 5px black;
}

.todos {
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.task {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 20px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.task s {
  color: red;
}

.edit-form {
  display: flex;
  position: relative;
  align-items: center;
}

.edit-form input {
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
  width: 250px;
}

.edit-form button {
  position: absolute;
  color: #258765;
  font-size: 15px;
  border-radius: 50%;
  right: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
  transition: .5s ease;
}

.edit-form button:hover {
  transform: scale(1.5);
  color: #15694c;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.options button {
  font-size: 25px;
  cursor: pointer;
  transition: .5s ease;
  color: #424b54;
}

.options button:hover {
  transform: scale(1.2);
}

.options .edit-btn:hover {
  color: #55b1a5
}

.options .delete-btn:hover {
  color: #c81d25
}

.todos-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active-todos,
.completed-todos {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.active-todos {
  background-color: #0072bb;
}

.dragactive {
  background-color: #073b5c;
}

.completed-todos {
  background-color: #e00029;
}

.dragcomplete {
  background-color: darkred;
}

.todo__input {
  padding: 5px;
  border-radius: 50px;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  background-color: #dbeeec;
}

@media (max-width:750px) {
  .todo {
    width: 90%;
  }
}

@media (max-width:900px) {
  .todos-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .active-todos,
  .completed-todos {
    width: 100%;
  }
}